In [1]:
import boto3

In [33]:
import requests

In [37]:
url = "https://us-central1-twittersentiment-339717.cloudfunctions.net/Get_Tweets_Then_Label-5"

In [38]:
r = requests.get(url)

In [2]:
dynamodb = boto3.client('dynamodb',
aws_access_key_id="AKIAYACXTDKIHNRZJRXP",
    aws_secret_access_key="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")

In [2]:
from tweets import get_tweets
from util import cleanUpTweet, getTextSubjectivity, getTextAnalysis, getTextPolarity
import datetime
import pandas as pd
from sqlalchemy import text
from sqlalchemy import create_engine
import numpy as np

In [23]:
def tweets_to_database(topic, date):
    tweets, dts, tweet_ids = get_tweets(topic, 15, date)
    tweets = list(map(cleanUpTweet, tweets))
    db = create_engine('bigquery://', credentials_path="BIGQUERY_CREDENTIAL.json")
    headers = ['twitter_id', 'tweet_date', 'tweet', 'query']
    queries = [topic]*len(tweets)
    dates = [date] * len(tweets)
    lists = [tweet_ids, dates, tweets, queries]
    df = pd.DataFrame(lists).transpose()
    df.columns = headers
    df.to_sql('twittersentiment-339717.tweets.tweets', db, if_exists='append', index=False)
    df = pd.DataFrame(data=[tweet for tweet in tweets], columns=['Tweet'])
    df['Tweet'] = df['Tweet'].apply(cleanUpTweet)
    df['Date'] = date
    df['Subjectivity'] = df['Tweet'].apply(getTextSubjectivity)
    df['Polarity'] = df['Tweet'].apply(getTextPolarity)
    df = df.drop(df[df['Tweet'] == ''].index)
    df['Score'] = df['Polarity'].apply(getTextAnalysis)
    labels = df.groupby('Score').count().index.values
    values = df.groupby('Score').size().values
    if "Negative" not in labels:
        values = np.insert(values, 0, 0)
    if "Neutral" not in labels:
        values = np.insert(values, 1, 0)
    if "Positive" not in labels:
        values = np.append(values, 0)
    neg = int(values[0])
    neu = int(values[1])
    pos = int(values[2])
    lists = [[date], [pos], [neg], [neu], [topic]]
    df_labeled = pd.DataFrame(lists).transpose()
    headers = ['tweet_date', 'pos', 'neg', 'neu', 'query']
    df_labeled.columns = headers
    df_labeled.to_sql('twittersentiment-339717.tweets.tweets_labeled', db, if_exists='append', index=False)
    return True

In [30]:
dates = []
for i in range(0, 10):
    dates.append(str(datetime.date.today() - datetime.timedelta(days=i)))
dates = dates[::-1]

In [31]:
dates

['2022-01-20',
 '2022-01-21',
 '2022-01-22',
 '2022-01-23',
 '2022-01-24',
 '2022-01-25',
 '2022-01-26',
 '2022-01-27',
 '2022-01-28',
 '2022-01-29']

In [ ]:
date = str(datetime.date.today())

In [32]:
tweets_to_database("biden")

TypeError: tweets_to_database() missing 1 required positional argument: 'date'

In [2]:
topic = "biden"
date = str(datetime.date.today())

In [63]:
tweets, dts, tweet_ids = get_tweets(topic, 15, date)

In [66]:
tweets = list(map(cleanUpTweet, tweets))

In [67]:
tweets

['Governor DeSantis is taking credit for  over $80 million for infrastructure in Florida\n\nBut Florida’s entire GOP congressional…',
 'Welcome to the Biden family, Willow! ',
 'This record-setting enrollment period was a result of the hard work of  and Democrats in Congress. By passing the Am…',
 "We're talking about:\n\n• The Civil Rights Movement (as a fraud)\n• CRT in schools\n• The Pandemic\n• Biden's Presidency and mor…",
 'The House majority runs through Central Florida. If you help me flip this +8 Biden district blue, you will never have to worr…',
 'The  administration took nearly $7 billion allocated for medical facilities during the pandemic and used it to pu…',
 'Reagan: I’m going to nominate a woman to the Court. \n\nTrump: I’m going to nominate a woman to the Court. \n\nBiden: I’m going…',
 'Donald Trump and Ronald Reagan both promised to nominate women to the Supreme Court, then followed through. So Joe Biden’s…',
 'Pennsylvania is proud to host President Biden today — and immensely grateful for the badly needed infrastructure investm…',
 'A) There is no truth to this.\nB) Even if this were true, that would still leave a lot of inflation hammering Americans th…',
 'President Biden: "Instead of losing manufacturing jobs, since I\'ve been in office, America has actually added additional 367,0…',
 'Seriously, How is Biden going to fight a war against the russians when he cannot even get a handle on crime in his own country??  Let alone, hes a president thats not even allowed to make decisions or even speak to reporters without worrying hes gonna get yelled at.',
 'Willow, the plucky farm cat who interrupted a campaign speech by Jill Biden, has officially joined the first family.\n\n“Willow…',
 'Levin is correct. Biden must be impeached for failing to execute the laws of the country. Period!\nRepublican leaders must p…',
 'The United States government needs to spend money on its infrastructure, but the bill President Joe Biden is touting in Pittsb…']

In [5]:
import pandas as pd
from sqlalchemy import text
from sqlalchemy import create_engine

In [6]:
from sqlalchemy import text
from sqlalchemy import create_engine
from google.cloud import bigquery
from google.oauth2 import service_account

In [7]:
credentials = service_account.Credentials.from_service_account_file('BIGQUERY_CREDENTIAL.json')

In [8]:
client = bigquery.Client(credentials=credentials)

In [ ]:
query = """
INSERT INTO bigquery-public-data.tweets.tweets (twitter_id, tweet_date, tweet, query)
VALUES ()

"""

In [9]:
db = create_engine('bigquery://', credentials_path="BIGQUERY_CREDENTIAL.json")

In [46]:
headers = ['twitter_id', 'tweet_date', 'tweet', 'query']
queries = [topic]*len(tweets)
dates = [date] * len(tweets)

In [55]:
lists = [tweet_ids, dates, tweets, queries]

In [56]:
lists = [tweet_ids, dates, tweets, queries]
df = pd.DataFrame(lists).transpose()
df.columns = headers

In [57]:
df.head()

,twitter_id,tweet_date,tweet,query
0,1487213901087481857,2022-01-29,RT @lindyli: Governor DeSantis is taking credi...,biden
1,1487213900659675139,2022-01-29,"RT @POTUS: Welcome to the Biden family, Willow...",biden
2,1487213900458254338,2022-01-29,RT @BarackObama: This record-setting enrollmen...,biden
3,1487213900214976513,2022-01-29,RT @HotepJesus: We're talking about:\n\n• The ...,biden
4,1487213899816439809,2022-01-29,RT @gellered: The House majority runs through ...,biden

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   twitter_id  15 non-null     object
 1   tweet_date  15 non-null     object
 2   tweet       15 non-null     object
 3   query       15 non-null     object
dtypes: object(4)
memory usage: 608.0+ bytes

In [59]:
df.to_sql('twittersentiment-339717.tweets.tweets', db, if_exists='append', index=False)